*,
*::before,
*::after{
	box-sizing: border-box;
	
}

body{
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
}
.content-container{
    background-color: rgb(44, 36, 181);
    display: flex;
    flex-wrap: wrap;
    width:400px;
    height:400px;
}

.rows{
    display: flex;
    background-color: rgb(128, 128, 128);
   
}

.columns{
    background-color: rgb(255, 255, 255);
    border: 0.2px solid rgb(85, 86, 84);
}
