*,
*::before,
*::after{
	box-sizing: border-box;
	
}

body{
    margin: 0;
}
.main-container{
    display: flex;
}


.content-container{
    background-color: rgb(44, 36, 181);
    display: flex;
    flex-wrap: nowrap;
    width:500px;
    height:500px;
}

.rows{
    display: flex;
    flex-direction: column;
    background-color: rgb(128, 128, 128);
   
}

.columns{
    background-color: rgb(255, 255, 255);
    border: 0.5px solid black;
}
